* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.box {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 1, 45deg);
  transition: 10s linear;
}
.box:hover {
  transform: rotate3d(1, 5, 1, 360deg);
}
.box > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.box > div:nth-of-type(1) {
  transform: rotateY(1deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(2) {
  transform: rotateY(2deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(3) {
  transform: rotateY(3deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(4) {
  transform: rotateY(4deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(5) {
  transform: rotateY(5deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(6) {
  transform: rotateY(6deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(7) {
  transform: rotateY(7deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(8) {
  transform: rotateY(8deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(9) {
  transform: rotateY(9deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(10) {
  transform: rotateY(10deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(11) {
  transform: rotateY(11deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(12) {
  transform: rotateY(12deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(13) {
  transform: rotateY(13deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(14) {
  transform: rotateY(14deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(15) {
  transform: rotateY(15deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(16) {
  transform: rotateY(16deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(17) {
  transform: rotateY(17deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(18) {
  transform: rotateY(18deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(19) {
  transform: rotateY(19deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(20) {
  transform: rotateY(20deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(21) {
  transform: rotateY(21deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(22) {
  transform: rotateY(22deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(23) {
  transform: rotateY(23deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(24) {
  transform: rotateY(24deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(25) {
  transform: rotateY(25deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(26) {
  transform: rotateY(26deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(27) {
  transform: rotateY(27deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(28) {
  transform: rotateY(28deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(29) {
  transform: rotateY(29deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(30) {
  transform: rotateY(30deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(31) {
  transform: rotateY(31deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(32) {
  transform: rotateY(32deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(33) {
  transform: rotateY(33deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(34) {
  transform: rotateY(34deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(35) {
  transform: rotateY(35deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(36) {
  transform: rotateY(36deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(37) {
  transform: rotateY(37deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(38) {
  transform: rotateY(38deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(39) {
  transform: rotateY(39deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(40) {
  transform: rotateY(40deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(41) {
  transform: rotateY(41deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(42) {
  transform: rotateY(42deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(43) {
  transform: rotateY(43deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(44) {
  transform: rotateY(44deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(45) {
  transform: rotateY(45deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(46) {
  transform: rotateY(46deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(47) {
  transform: rotateY(47deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(48) {
  transform: rotateY(48deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(49) {
  transform: rotateY(49deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(50) {
  transform: rotateY(50deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(51) {
  transform: rotateY(51deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(52) {
  transform: rotateY(52deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(53) {
  transform: rotateY(53deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(54) {
  transform: rotateY(54deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(55) {
  transform: rotateY(55deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(56) {
  transform: rotateY(56deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(57) {
  transform: rotateY(57deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(58) {
  transform: rotateY(58deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(59) {
  transform: rotateY(59deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(60) {
  transform: rotateY(60deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(61) {
  transform: rotateY(61deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(62) {
  transform: rotateY(62deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(63) {
  transform: rotateY(63deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(64) {
  transform: rotateY(64deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(65) {
  transform: rotateY(65deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(66) {
  transform: rotateY(66deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(67) {
  transform: rotateY(67deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(68) {
  transform: rotateY(68deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(69) {
  transform: rotateY(69deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(70) {
  transform: rotateY(70deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(71) {
  transform: rotateY(71deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(72) {
  transform: rotateY(72deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(73) {
  transform: rotateY(73deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(74) {
  transform: rotateY(74deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(75) {
  transform: rotateY(75deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(76) {
  transform: rotateY(76deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(77) {
  transform: rotateY(77deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(78) {
  transform: rotateY(78deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(79) {
  transform: rotateY(79deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(80) {
  transform: rotateY(80deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(81) {
  transform: rotateY(81deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(82) {
  transform: rotateY(82deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(83) {
  transform: rotateY(83deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(84) {
  transform: rotateY(84deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(85) {
  transform: rotateY(85deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(86) {
  transform: rotateY(86deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(87) {
  transform: rotateY(87deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(88) {
  transform: rotateY(88deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(89) {
  transform: rotateY(89deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(90) {
  transform: rotateY(90deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(91) {
  transform: rotateY(91deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(92) {
  transform: rotateY(92deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(93) {
  transform: rotateY(93deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(94) {
  transform: rotateY(94deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(95) {
  transform: rotateY(95deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(96) {
  transform: rotateY(96deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(97) {
  transform: rotateY(97deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(98) {
  transform: rotateY(98deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(99) {
  transform: rotateY(99deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(100) {
  transform: rotateY(100deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(101) {
  transform: rotateY(101deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(102) {
  transform: rotateY(102deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(103) {
  transform: rotateY(103deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(104) {
  transform: rotateY(104deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(105) {
  transform: rotateY(105deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(106) {
  transform: rotateY(106deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(107) {
  transform: rotateY(107deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(108) {
  transform: rotateY(108deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(109) {
  transform: rotateY(109deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(110) {
  transform: rotateY(110deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(111) {
  transform: rotateY(111deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(112) {
  transform: rotateY(112deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(113) {
  transform: rotateY(113deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(114) {
  transform: rotateY(114deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(115) {
  transform: rotateY(115deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(116) {
  transform: rotateY(116deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(117) {
  transform: rotateY(117deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(118) {
  transform: rotateY(118deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(119) {
  transform: rotateY(119deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(120) {
  transform: rotateY(120deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(121) {
  transform: rotateY(121deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(122) {
  transform: rotateY(122deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(123) {
  transform: rotateY(123deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(124) {
  transform: rotateY(124deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(125) {
  transform: rotateY(125deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(126) {
  transform: rotateY(126deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(127) {
  transform: rotateY(127deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(128) {
  transform: rotateY(128deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(129) {
  transform: rotateY(129deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(130) {
  transform: rotateY(130deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(131) {
  transform: rotateY(131deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(132) {
  transform: rotateY(132deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(133) {
  transform: rotateY(133deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(134) {
  transform: rotateY(134deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(135) {
  transform: rotateY(135deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(136) {
  transform: rotateY(136deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(137) {
  transform: rotateY(137deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(138) {
  transform: rotateY(138deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(139) {
  transform: rotateY(139deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(140) {
  transform: rotateY(140deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(141) {
  transform: rotateY(141deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(142) {
  transform: rotateY(142deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(143) {
  transform: rotateY(143deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(144) {
  transform: rotateY(144deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(145) {
  transform: rotateY(145deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(146) {
  transform: rotateY(146deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(147) {
  transform: rotateY(147deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(148) {
  transform: rotateY(148deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(149) {
  transform: rotateY(149deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(150) {
  transform: rotateY(150deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(151) {
  transform: rotateY(151deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(152) {
  transform: rotateY(152deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(153) {
  transform: rotateY(153deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(154) {
  transform: rotateY(154deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(155) {
  transform: rotateY(155deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(156) {
  transform: rotateY(156deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(157) {
  transform: rotateY(157deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(158) {
  transform: rotateY(158deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(159) {
  transform: rotateY(159deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(160) {
  transform: rotateY(160deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(161) {
  transform: rotateY(161deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(162) {
  transform: rotateY(162deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(163) {
  transform: rotateY(163deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(164) {
  transform: rotateY(164deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(165) {
  transform: rotateY(165deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(166) {
  transform: rotateY(166deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(167) {
  transform: rotateY(167deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(168) {
  transform: rotateY(168deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(169) {
  transform: rotateY(169deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(170) {
  transform: rotateY(170deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(171) {
  transform: rotateY(171deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(172) {
  transform: rotateY(172deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(173) {
  transform: rotateY(173deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(174) {
  transform: rotateY(174deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(175) {
  transform: rotateY(175deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(176) {
  transform: rotateY(176deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(177) {
  transform: rotateY(177deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(178) {
  transform: rotateY(178deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(179) {
  transform: rotateY(179deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}
.box > div:nth-of-type(180) {
  transform: rotateY(180deg);
}
.box > div:nth-of-type(odd) {
  background-color: rgb(241, 241, 190);
}
.box > div:nth-of-type(even) {
  background-color: rgb(184, 85, 171);
}/*# sourceMappingURL=Trick-1.css.map */